# Examen Primera Convocatoria

In [165]:
# Your imports HERE !!!!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import os

## 01 - 1.25pt
- Crear un array de NumPy de dimensiones 5x5, con números enteros aleatorios en el rango [-40, 40]
- Hacer los siguientes reemplazos en orden
    - Reemplazar todos los valores multiplos de 3 por 1
    - Reemplazar todos los valores pares positivos por 0
    - Reemplazar todos los valores pares negativos por Nan
- Averiguar cuantos elementos tienen Nan por fila

In [73]:
# Your solution HERE !!!!
array = np.random.randint(-40, 41, (5, 5))
array

array([[ -2,  39, -18,  20,  34],
       [  5,  27, -25, -16,  27],
       [  1,  -3,  -9,  -8,  19],
       [ 39, -32, -25, -11, -19],
       [ 35, -31,  22, -13, -37]])

In [74]:
array = np.where(array % 3 == 0, 1, array)
array

array([[ -2,   1,   1,  20,  34],
       [  5,   1, -25, -16,   1],
       [  1,   1,   1,  -8,  19],
       [  1, -32, -25, -11, -19],
       [ 35, -31,  22, -13, -37]])

In [75]:
array = np.where((array > 0) & (array % 2 == 0), 0, array)
array

array([[ -2,   1,   1,   0,   0],
       [  5,   1, -25, -16,   1],
       [  1,   1,   1,  -8,  19],
       [  1, -32, -25, -11, -19],
       [ 35, -31,   0, -13, -37]])

In [76]:
array = np.where((array < 0) & (array % 2 == 0), np.nan, array)
array

array([[ nan,   1.,   1.,   0.,   0.],
       [  5.,   1., -25.,  nan,   1.],
       [  1.,   1.,   1.,  nan,  19.],
       [  1.,  nan, -25., -11., -19.],
       [ 35., -31.,   0., -13., -37.]])

In [78]:
display(array)
new_array = pd.DataFrame(array)
new_array = new_array.transpose()
new_array.isna().sum()

array([[ nan,   1.,   1.,   0.,   0.],
       [  5.,   1., -25.,  nan,   1.],
       [  1.,   1.,   1.,  nan,  19.],
       [  1.,  nan, -25., -11., -19.],
       [ 35., -31.,   0., -13., -37.]])

0    1
1    1
2    1
3    1
4    0
dtype: int64

## 02 - 1.25pt
- Escribir un generador que genere todos los factores de un número. Un factor es un número natural que puede dividir exactamente a otro número.

In [ ]:
number = 1000
expected_factors = [1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500, 1000]
gen = factor_generator(number) # This calls tour function factor_generator
output = [next(gen) for n in range(len(expected_factors))]
assert(expected_factors == output)  # This will fail if the element is not found correctly

In [85]:
# Your solution HERE !!!!
number = 1000

def factor_generator(n):
    result = []
    for i in range(1, n+1):
        if n % i == 0:
            result.append(i)
    return result

print(factor_generator(number))

[1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500, 1000]

In [86]:
gen = factor_generator(number)
expected_factors = [1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500, 1000]
assert(expected_factors == gen)

## 03 - 1.25pt
- Escribir una función que reciba un Dataframe, en la columna "name" convierta el primer carácter de cada nombre a mayúsculas.

In [ ]:
dataframe = pd.DataFrame({
    'name': ['tamayo','tanjiro','inosuke', 'zenitsu', 'nezuko'],
    'date_of_birth ': ['13/01/2002','18/03/1999','21/11/1998','10/10/2002','05/04/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})

expected_dataframe = pd.DataFrame({
    'name': ['Tamayo', 'Tanjiro', 'Inosuke', 'Zenitsu', 'Nezuko'],
    'date_of_birth ': ['13/01/2002','18/03/1999','21/11/1998','10/10/2002','05/04/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})

output = capitalize_name(dataframe) # This calls your function capitalize_name
assert(expected_dataframe.equals(output)) # This will fail if result is not as expected

In [95]:
# Your solution HERE !!!!
dataframe = pd.DataFrame({
    'name': ['tamayo','tanjiro','inosuke', 'zenitsu', 'nezuko'],
    'date_of_birth ': ['13/01/2002','18/03/1999','21/11/1998','10/10/2002','05/04/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})

display(dataframe)

def capitalize_name(df):
    df['name'] = df['name'].apply(lambda x: x[0].upper()+x[1:])
    return df

display(capitalize_name(dataframe))

      name date_of_birth    age
0   tamayo     13/01/2002  18.5
1  tanjiro     18/03/1999  21.2
2  inosuke     21/11/1998  22.5
3  zenitsu     10/10/2002  22.0
4   nezuko     05/04/1997  23.0

      name date_of_birth    age
0   Tamayo     13/01/2002  18.5
1  Tanjiro     18/03/1999  21.2
2  Inosuke     21/11/1998  22.5
3  Zenitsu     10/10/2002  22.0
4   Nezuko     05/04/1997  23.0

## 04 - 1.25pt
- 200 personas hacen una review de una película, dándole una puntuación de 0.0 a 5.0 a dicha película
- Crear una lista aleatoria con las posibles puntuaciones, es decir, 200 puntuaciones entre 0.0 y 5.0
- Discretizar dichas puntuaciones en 4 categorias [muy mala, mala, buena, excelente], los límites de cada categoría son a libre elección
- Discretizar dichas puntuaciones en 5 categorías distribuidas con rangos homogéneos (similar cantidad de valores en cada categoría)
- Mostrar las categorías creadas y cuantos elementos hay en cada una de ellas

In [161]:
# Your solution HERE !!!!
random_list = []

for i in range(200):
    random_list.append(np.random.random() * 5)

print(random_list)

[3.2348382550824177, 4.820555577108289, 3.635983495442998, 1.3661136976347983, 4.589364682324452, 1.0618676704958334, 0.1108236310769356, 3.56457657817685, 3.941423048918997, 0.25197795258364797, 2.6844193404093275, 4.302365141984739, 4.6827692723139025, 1.2255333669748065, 4.47505294633558, 1.8183355875612555, 3.547793699212672, 0.39806197982432623, 3.4653618850362653, 0.6291374468912603, 0.4445272581243809, 0.47479169792486564, 4.511273489103338, 1.115999785049362, 0.23862464563293995, 4.899769289054485, 2.639076858679946, 1.4978935994978604, 0.501244531001962, 0.055345286061395105, 4.70711421694988, 4.969844957196791, 0.11188681056596594, 0.28416102332439963, 2.909039280742668, 2.233419892924347, 2.651955567607448, 3.8173639502432377, 1.7712857629528589, 2.1175855343386547, 0.32240440986364305, 2.7613476223552977, 2.8070766600802717, 2.5149903571659045, 2.804110778522241, 4.496600855869003, 3.732195045155007, 0.5507709704677322, 0.41199040301064027, 3.4812519149790115, 3.3960529896467415, 3.703253294528595, 4.632816888696238, 4.64237148329599, 4.352924267936904, 3.116374230659194, 3.0648320275620486, 3.663678094793666, 0.5031367567781647, 3.916107397678873, 4.244367435196766, 4.069398822033715, 2.057540994829827, 1.7741039067674254, 3.9711354582782206, 3.462537121533278, 3.4176031193976892, 0.11862522911861129, 3.463289594814336, 3.412301067912988, 1.0103291644857753, 2.190844087443915, 0.07908531444736855, 1.0745356615567248, 1.3500528371087228, 4.136931604739451, 2.328534616696973, 2.732416065619823, 0.710689206498818, 1.7767810681288259, 4.250701530750944, 1.114164222894637, 0.29678006484518016, 1.1592805059917692, 3.543150066047762, 1.5361574662038309, 3.011292906739611, 4.176987954781947, 0.42221728149583027, 0.07071542634118966, 0.6912286719165439, 3.1719983546305026, 3.779757165150672, 0.10881108029333508, 0.37086873397397024, 3.1547875238969567, 4.41729465971561, 1.2951769986556916, 1.9148142164826791, 0.5331495732583164, 1.4729971899950156, 1.4103854434819114, 3.60989498869017, 4.024757643539203, 2.3823403752026984, 4.933558852723277, 1.7359114268517688, 2.76184102666434, 0.7132234214156291, 0.15143332806207832, 4.45924474826862, 1.6986209333935498, 4.980574703956472, 3.767574239068279, 2.0632377562592508, 2.1089401067168065, 4.0028468831297435, 4.535786556373772, 2.777392011516904, 4.415323538586067, 1.8162556372688954, 1.027374914584177, 1.1153063288200222, 4.149549716819884, 2.920138142691327, 4.882371873966188, 2.7700542572099742, 0.8976358742927176, 4.471921204640468, 1.8936433120090845, 4.409739939203331, 2.973282289986974, 1.2472014058846281, 4.149651058484777, 3.6670843990207236, 0.6942791899190148, 3.7205558878637413, 3.762190117826867, 0.32951455170322774, 3.1167440452068895, 3.2791540097824505, 4.879234274295378, 0.8234169239973199, 1.5950981773681916, 0.17556544426190535, 1.7555539542910163, 2.259571075060939, 3.20951812753514, 1.7531974319717736, 2.0462081882141323, 0.7711397880363391, 4.736030885941755, 3.674975703113626, 3.8469407829762674, 3.809759269520706, 2.1705821569969035, 4.2125724406979455, 2.8517961653267445, 1.2866573884963362, 4.965813619387979, 1.43800501229361, 4.895089028515517, 2.3708178081359503, 3.444501896156922, 1.0655961933695612, 0.07849488603874022, 3.7234776533093368, 2.847015374497852, 0.03714554945373927, 2.7265135752557095, 2.233757615861061, 4.09808633860162, 0.7731550203593462, 0.5053436227556596, 2.327338406356598, 3.7247457027374553, 1.5116246181008757, 1.7066064119690822, 3.992503814829613, 1.3380812482488698, 3.9129758499974105, 0.25048553036812027, 0.25636303031094654, 3.0846435181885443, 3.943034175038691, 1.5145706912290635, 0.271306562734816, 4.770027612121227, 0.005710628270371165, 4.482928342667183, 1.1996430654499146, 1.8959435425646876, 4.358874420083252, 2.1621356596870256, 4.543769237079186, 3.6647792977025375, 1.6803085797446493, 3.4769408339754655, 2.085113704722006, 1.452147350684675]

In [162]:
very_bad, bad, good, excellent = [], [], [], []

for item in random_list:
    if item <= 1.5:
        very_bad.append(item)
    elif item > 1.5 and item <= 2.5:
        bad.append(item)
    elif item > 2.5 and item <= 4:
        good.append(item)
    else:
        excellent.append(item)

In [163]:
cat_1, cat_2, cat_3, cat_4, cat_5 = [], [], [], [], []

for item in random_list:
    if item <= 1:
        cat_1.append(item)
    elif item > 1 and item <= 2:
        cat_2.append(item)
    elif item > 2 and item <= 3:
        cat_3.append(item)
    elif item > 3 and item <= 4:
        cat_4.append(item)
    else:
        cat_5.append(item)

In [164]:
# Discretización 1
print(very_bad)
print("Elementos: ", len(very_bad))
print(bad)
print("Elementos: ", len(bad))
print(good)
print("Elementos: ", len(good))
print(excellent)
print("Elementos: ", len(excellent))

# Discretización 2
print('\n' + 'Discretización 2' + '\n')
print(cat_1)
print("Elementos: ", len(cat_1))
print(cat_2)
print("Elementos: ", len(cat_2))
print(cat_3)
print("Elementos: ", len(cat_3))
print(cat_4)
print("Elementos: ", len(cat_4))
print(cat_5)
print("Elementos: ", len(cat_5))

[1.3661136976347983, 1.0618676704958334, 0.1108236310769356, 0.25197795258364797, 1.2255333669748065, 0.39806197982432623, 0.6291374468912603, 0.4445272581243809, 0.47479169792486564, 1.115999785049362, 0.23862464563293995, 1.4978935994978604, 0.501244531001962, 0.055345286061395105, 0.11188681056596594, 0.28416102332439963, 0.32240440986364305, 0.5507709704677322, 0.41199040301064027, 0.5031367567781647, 0.11862522911861129, 1.0103291644857753, 0.07908531444736855, 1.0745356615567248, 1.3500528371087228, 0.710689206498818, 1.114164222894637, 0.29678006484518016, 1.1592805059917692, 0.42221728149583027, 0.07071542634118966, 0.6912286719165439, 0.10881108029333508, 0.37086873397397024, 1.2951769986556916, 0.5331495732583164, 1.4729971899950156, 1.4103854434819114, 0.7132234214156291, 0.15143332806207832, 1.027374914584177, 1.1153063288200222, 0.8976358742927176, 1.2472014058846281, 0.6942791899190148, 0.32951455170322774, 0.8234169239973199, 0.17556544426190535, 0.7711397880363391, 1.2866573884963362, 1.43800501229361, 1.0655961933695612, 0.07849488603874022, 0.03714554945373927, 0.7731550203593462, 0.5053436227556596, 1.3380812482488698, 0.25048553036812027, 0.25636303031094654, 0.271306562734816, 0.005710628270371165, 1.1996430654499146, 1.452147350684675]
Elementos:  63
[1.8183355875612555, 2.233419892924347, 1.7712857629528589, 2.1175855343386547, 2.057540994829827, 1.7741039067674254, 2.190844087443915, 2.328534616696973, 1.7767810681288259, 1.5361574662038309, 1.9148142164826791, 2.3823403752026984, 1.7359114268517688, 1.6986209333935498, 2.0632377562592508, 2.1089401067168065, 1.8162556372688954, 1.8936433120090845, 1.5950981773681916, 1.7555539542910163, 2.259571075060939, 1.7531974319717736, 2.0462081882141323, 2.1705821569969035, 2.3708178081359503, 2.233757615861061, 2.327338406356598, 1.5116246181008757, 1.7066064119690822, 1.5145706912290635, 1.8959435425646876, 2.1621356596870256, 1.6803085797446493, 2.085113704722006]
Elementos:  34
[3.2348382550824177, 3.635983495442998, 3.56457657817685, 3.941423048918997, 2.6844193404093275, 3.547793699212672, 3.4653618850362653, 2.639076858679946, 2.909039280742668, 2.651955567607448, 3.8173639502432377, 2.7613476223552977, 2.8070766600802717, 2.5149903571659045, 2.804110778522241, 3.732195045155007, 3.4812519149790115, 3.3960529896467415, 3.703253294528595, 3.116374230659194, 3.0648320275620486, 3.663678094793666, 3.916107397678873, 3.9711354582782206, 3.462537121533278, 3.4176031193976892, 3.463289594814336, 3.412301067912988, 2.732416065619823, 3.543150066047762, 3.011292906739611, 3.1719983546305026, 3.779757165150672, 3.1547875238969567, 3.60989498869017, 2.76184102666434, 3.767574239068279, 2.777392011516904, 2.920138142691327, 2.7700542572099742, 2.973282289986974, 3.6670843990207236, 3.7205558878637413, 3.762190117826867, 3.1167440452068895, 3.2791540097824505, 3.20951812753514, 3.674975703113626, 3.8469407829762674, 3.809759269520706, 2.8517961653267445, 3.444501896156922, 3.7234776533093368, 2.847015374497852, 2.7265135752557095, 3.7247457027374553, 3.992503814829613, 3.9129758499974105, 3.0846435181885443, 3.943034175038691, 3.6647792977025375, 3.4769408339754655]
Elementos:  62
[4.820555577108289, 4.589364682324452, 4.302365141984739, 4.6827692723139025, 4.47505294633558, 4.511273489103338, 4.899769289054485, 4.70711421694988, 4.969844957196791, 4.496600855869003, 4.632816888696238, 4.64237148329599, 4.352924267936904, 4.244367435196766, 4.069398822033715, 4.136931604739451, 4.250701530750944, 4.176987954781947, 4.41729465971561, 4.024757643539203, 4.933558852723277, 4.45924474826862, 4.980574703956472, 4.0028468831297435, 4.535786556373772, 4.415323538586067, 4.149549716819884, 4.882371873966188, 4.471921204640468, 4.409739939203331, 4.149651058484777, 4.879234274295378, 4.736030885941755, 4.2125724406979455, 4.965813619387979, 4.895089028515517, 4.09808633860162, 4.770027612121227, 4.482928342667183, 4.358874420083252, 4.543769237079186]
Elementos:  41

Discretización 2

[0.1108236310769356, 0.25197795258364797, 0.39806197982432623, 0.6291374468912603, 0.4445272581243809, 0.47479169792486564, 0.23862464563293995, 0.501244531001962, 0.055345286061395105, 0.11188681056596594, 0.28416102332439963, 0.32240440986364305, 0.5507709704677322, 0.41199040301064027, 0.5031367567781647, 0.11862522911861129, 0.07908531444736855, 0.710689206498818, 0.29678006484518016, 0.42221728149583027, 0.07071542634118966, 0.6912286719165439, 0.10881108029333508, 0.37086873397397024, 0.5331495732583164, 0.7132234214156291, 0.15143332806207832, 0.8976358742927176, 0.6942791899190148, 0.32951455170322774, 0.8234169239973199, 0.17556544426190535, 0.7711397880363391, 0.07849488603874022, 0.03714554945373927, 0.7731550203593462, 0.5053436227556596, 0.25048553036812027, 0.25636303031094654, 0.271306562734816, 0.005710628270371165]
Elementos:  41
[1.3661136976347983, 1.0618676704958334, 1.2255333669748065, 1.8183355875612555, 1.115999785049362, 1.4978935994978604, 1.7712857629528589, 1.7741039067674254, 1.0103291644857753, 1.0745356615567248, 1.3500528371087228, 1.7767810681288259, 1.114164222894637, 1.1592805059917692, 1.5361574662038309, 1.2951769986556916, 1.9148142164826791, 1.4729971899950156, 1.4103854434819114, 1.7359114268517688, 1.6986209333935498, 1.8162556372688954, 1.027374914584177, 1.1153063288200222, 1.8936433120090845, 1.2472014058846281, 1.5950981773681916, 1.7555539542910163, 1.7531974319717736, 1.2866573884963362, 1.43800501229361, 1.0655961933695612, 1.5116246181008757, 1.7066064119690822, 1.3380812482488698, 1.5145706912290635, 1.1996430654499146, 1.8959435425646876, 1.6803085797446493, 1.452147350684675]
Elementos:  40
[2.6844193404093275, 2.639076858679946, 2.909039280742668, 2.233419892924347, 2.651955567607448, 2.1175855343386547, 2.7613476223552977, 2.8070766600802717, 2.5149903571659045, 2.804110778522241, 2.057540994829827, 2.190844087443915, 2.328534616696973, 2.732416065619823, 2.3823403752026984, 2.76184102666434, 2.0632377562592508, 2.1089401067168065, 2.777392011516904, 2.920138142691327, 2.7700542572099742, 2.973282289986974, 2.259571075060939, 2.0462081882141323, 2.1705821569969035, 2.8517961653267445, 2.3708178081359503, 2.847015374497852, 2.7265135752557095, 2.233757615861061, 2.327338406356598, 2.1621356596870256, 2.085113704722006]
Elementos:  33
[3.2348382550824177, 3.635983495442998, 3.56457657817685, 3.941423048918997, 3.547793699212672, 3.4653618850362653, 3.8173639502432377, 3.732195045155007, 3.4812519149790115, 3.3960529896467415, 3.703253294528595, 3.116374230659194, 3.0648320275620486, 3.663678094793666, 3.916107397678873, 3.9711354582782206, 3.462537121533278, 3.4176031193976892, 3.463289594814336, 3.412301067912988, 3.543150066047762, 3.011292906739611, 3.1719983546305026, 3.779757165150672, 3.1547875238969567, 3.60989498869017, 3.767574239068279, 3.6670843990207236, 3.7205558878637413, 3.762190117826867, 3.1167440452068895, 3.2791540097824505, 3.20951812753514, 3.674975703113626, 3.8469407829762674, 3.809759269520706, 3.444501896156922, 3.7234776533093368, 3.7247457027374553, 3.992503814829613, 3.9129758499974105, 3.0846435181885443, 3.943034175038691, 3.6647792977025375, 3.4769408339754655]
Elementos:  45
[4.820555577108289, 4.589364682324452, 4.302365141984739, 4.6827692723139025, 4.47505294633558, 4.511273489103338, 4.899769289054485, 4.70711421694988, 4.969844957196791, 4.496600855869003, 4.632816888696238, 4.64237148329599, 4.352924267936904, 4.244367435196766, 4.069398822033715, 4.136931604739451, 4.250701530750944, 4.176987954781947, 4.41729465971561, 4.024757643539203, 4.933558852723277, 4.45924474826862, 4.980574703956472, 4.0028468831297435, 4.535786556373772, 4.415323538586067, 4.149549716819884, 4.882371873966188, 4.471921204640468, 4.409739939203331, 4.149651058484777, 4.879234274295378, 4.736030885941755, 4.2125724406979455, 4.965813619387979, 4.895089028515517, 4.09808633860162, 4.770027612121227, 4.482928342667183, 4.358874420083252, 4.543769237079186]
Elementos:  41

## 05 - 5pt

Se dispone de dos conjuntos de datos, ambos datasets se adjuntan en la pregunta del examen
- [01MIAR_aircraft.csv](https://www.kaggle.com/datasets/dianaddx/aircraft-wildlife-strikes-1990-2023/): incidentes de avión.
- [01MIAR_airports.csv](https://ourairports.com/data/): aeropuertos de todo el mundo, con el nombre y país de cada aeropuerto.

1. Carga el fichero 01MIAR_aircraft.csv en un dataframe de Pandas y:
    - Muestra las seis primeras filas.
    - Calcula el porcentaje de valores nulos por columna.
    - Muestra en una figura, con un tamaño de 8 de ancho y 4 de alto, una gráfica de tipo puntos (scatter), la localización de los incidentes en base a la longitud y latitud.
    > Pista, descarta del df original los registros cuyos valores de latitud y longitud no se encuentren en el rango de coordenadas esféricas, siendo la longitud valida en el rango [-180, 180], y la latitud valida en el rango [-90, 90].
    - Muestra en una figura un conteo de incidentes sobre la columna 'AIRCRAFT' por año, en el gráfico debe aparecer una columna por cada 'DAMAGE_LEVEL' distinto en el dataframe. La gráfica debe ser de tipo linea con diferentes subplots.
    > Pista, agrupa primero y aplique una gráfica de relación.
    
2. Carga el fichero 01MIAR_airports.csv en un dataframe de Pandas y:
    - Muestra el número de filas y columnas
    - Cambia los valores a minúsculas de columna de nombre de aeropuerto en este dataframe y en el del apartado anterior.
    - Con el propósito de disponer del país de los aeropuertos, junta ambos dataframes para obtener un nuevo dataframe con todos los registros de incidentes de avión y los países de los aeropuertos. Como clave, utilizar el nombre del aeropuerto modificado en el anterior apartado.
    - Como resultado se debe disponer un dataframe con 254222 registros.
    - Muestra el número de registros que no disponen de dato en el atributo "iso_country".
    - Elimina todos los registros que que tengan nulos alguna de las columnas 'DAMAGE_LEVEL' y 'iso_country'.
    - Sobre el resultado anterior, crea una tabla contando el número de incidentes por país, en las filas deben aparecer todos los paises posibles y en las columnas debe de estar el tipo de 'DAMAGE_LEVEL'.

In [168]:
# Your solution HERE !!!!

# Apartado 1.
aircraft_rute = os.path.join('01MIAR_aircraft.csv')
aircraft = pd.read_csv(aircraft_rute)

display(aircraft.head(6))

,INCIDENT_DATE,AIRPORT,LATITUDE,LONGITUDE,AIRCRAFT,DAMAGE_LEVEL
0,6/22/1996,SACRAMENTO INTL,38.69542,-121.59077,B-737-300,NaN
1,6/26/1996,DENVER INTL AIRPORT,39.85841,-104.66700,B-737-300,NaN
2,7/1/1996,EPPLEY AIRFIELD,41.30252,-95.89417,B-757-200,N
3,7/1/1996,WASHINGTON DULLES INTL ARPT,38.94453,-77.45581,A-320,N
4,7/1/1996,LA GUARDIA ARPT,40.77724,-73.87261,A-320,M
5,5/6/1991,SAN ANTONIO INTL,29.53369,-98.46978,B-727-100,N

In [172]:
a = aircraft.loc[pd.isnull(aircraft['DAMAGE_LEVEL'])].sum()

INCIDENT_DATE    6/22/19966/26/19969/19/19909/14/19905/10/19907...
AIRPORT          SACRAMENTO INTLDENVER INTL AIRPORTDALLAS/FORT ...
LATITUDE                                            3707058.015728
LONGITUDE                                          -9228473.449471
AIRCRAFT         B-737-300B-737-300MD-80UNKNOWNDC-10L-1011UNKNO...
DAMAGE_LEVEL                                                     0
dtype: object

In [169]:
# Apartado 2
airports_rute = os.path.join('01MIAR_airports.csv')
airports = pd.read_csv(airports_rute)

display(airports)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77453,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
77454,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
77455,346788,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,690.0,NaN,US,US-TX,Blum,no,87TX,NaN,87TX,NaN,NaN,NaN
77456,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,NaN,NaN,NaN,NaN,NaN,"ZZZW, ZZZW, ZYW, YK96"
77457,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"